.supImgContainer {
    position: relative;
    display: inline-block;
    /* margin-top: 20vh; */
  }
  
  .lwImage {
    width: 98.9vw;
    height: 25vw;
  }
.Heading {
        font-size: 26px;
        text-align: left;
        margin: 40px 20px 20px 20px;
}
.container{
    display: flex;
    padding: 10px 10px;
}
.videoContainer{
    margin: 2px 2px;
    justify-content: left;
}
.video1mp4{
    padding: 20px 40px;
    height: 300px;
    width: 500px;
}
.InfoContainer{
    border: solid thin;
    border-radius: 2%;
    width: 500px;
    height: 300px;
    justify-content: right;
}
.textInfo{
    font-size: small;
    width:100%;
    height:100%;
    padding: 15px ;
    overflow:scroll;
}