.navbar {
  background-color: #f8c09588 !important;
  /* background-color:  #F8C095 !important; */
  font-size: 20px;
}

.nav-link:focus {
  color: #ce7836;
  /* color: #fff; */
}

.am {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
